@{
    ViewData["Title"] = "Ninja Info Page";
}
<h1>Name: @ViewBag.Ninja.Name</h1>
<p>Ninja Level - @ViewBag.Ninja.Level</p>
<p>Description: @ViewBag.Ninja.Description</p>
@if(@ViewBag.Ninja.dojo_id != 1)
{
    <p>Current Dojo: <a href="dojo/@ViewBag.Ninja.dojo_id">@ViewBag.Ninja.ElDojo.Name</a></p>
}
@if(@ViewBag.Ninja.dojo_id == 1)
{
    <p>Current Dojo: @ViewBag.Ninja.ElDojo.Name</p>
}